<!DOCTYPE html>
<html>
<head><title>Accueil</title></head>
<body>
    <h1>{{ message }}</h1>
    <a href="?controleur=Utilisateur&methode=afficherUtilisateur">afficherUtilisateur</a><br>
    <a href="?controleur=Utilisateur&methode=afficherAllUtilisateurs">afficherAllUtilisateurs</a><br>
    <a href="?controleur=Avis&methode=afficherAvis">afficherAvis</a><br>
    <a href="?controleur=Avis&methode=afficherAllAvis">afficherAllAvis</a><br>
    <a href="?controleur=Annonce&methode=afficherAnnonce&id_annonce">afficherAnnonce</a><br>
    <a href="?controleur=Annonce&methode=afficherAllAnnonces">afficherAllAnnonces</a><br>
    <a href="?controleur=Annonce&methode=afficherAnnoncesParUtilisateur&id_utilisateur">afficherAnnoncesParUtilisateur</a><br>
    <a href="?controleur=Promenade&methode=afficherPromenade">afficherPromenade</a><br>
    <a href="?controleur=Promenade&methode=afficherAllPromenades">afficherAllPromenades</a><br>
    <a href="?controleur=Chien&methode=afficherAllChiens">afficherAllChiens</a><br>
    <a href="?controleur=Chien&methode=afficherChien&id_chien">afficherChien</a><br>
</body>
</html>
