{% extends 'base_template.twig' %}

{% block title %}Accueil — DogSitter{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1>{{ message }}</h1>
        <ul>
            <li><a href="?controleur=Utilisateur&methode=afficherUtilisateur">afficherUtilisateur</a></li>
            <li><a href="?controleur=Utilisateur&methode=afficherAllUtilisateurs">afficherAllUtilisateurs</a></li>
            <li><a href="?controleur=Avis&methode=afficherAvis">afficherAvis</a></li>
            <li><a href="?controleur=Avis&methode=afficherAllAvis">afficherAllAvis</a></li>
            <li><a href="?controleur=Avis&methode=afficherAvisParIdUtilisateurNote&id_utilisateur_note">afficherAvisParIdUtilisateurNote</a></li>
            <li><a href="?controleur=Annonce&methode=afficherAnnonce&id_annonce">afficherAnnonce</a></li>
            <li><a href="?controleur=Annonce&methode=afficherAllAnnonces">afficherAllAnnonces</a></li>
            <li><a href="?controleur=Annonce&methode=afficherAnnoncesParUtilisateur&id_utilisateur">afficherAnnoncesParUtilisateur</a></li>
            <li><a href="?controleur=Promenade&methode=afficherPromenade">afficherPromenade</a></li>
            <li><a href="?controleur=Promenade&methode=afficherAllPromenades">afficherAllPromenades</a></li>
            <li><a href="?controleur=Chien&methode=afficherAllChiens">afficherAllChiens</a></li>
            <li><a href="?controleur=Chien&methode=afficherChien&id_chien=1">afficherChien</a></li>
            <li><a href="?controleur=Conversation&methode=afficherAllConversation">afficherAllConversation</a></li>
            <li><a href="?controleur=Conversation&methode=afficherconversation&id_conversation">afficherConversation</a></li>
            <li><a href="?controleur=Message&methode=afficherAllMessage">afficherAllMessage</a></li>
            <li><a href="?controleur=Message&methode=afficherMessage&id_message">afficherMessage</a></li>
        </ul>
    </div>
{% endblock %}
