<!DOCTYPE html>
<html>
<head><title>Accueil</title></head>
<body>
    <h1>{{ message }}</h1>
    <a href="?controleur=Utilisateur&methode=afficherUtilisateur">afficherUtilisateur</a><br>
    <a href="?controleur=Utilisateur&methode=afficherAllUtilisateurs">afficherAllUtilisateurs</a><br>
    <a href="?controleur=Avis&methode=afficherAvis">afficherAvis</a><br>
    <a href="?controleur=Avis&methode=afficherAllAvis">afficherAllAvis</a><br>
</body>
</html>
