{% extends 'base_template.twig' %}

{% block title %}Promenades — DogSitter{% endblock %}

{% block content %}
    <div class="container my-4">
        {% if promenadesListe is defined and promenadesListe|length > 0 %}
            <h2>Liste des Promenades :</h2>
            {% for promenade in promenadesListe %}
                <ul>
                    <li>{{ promenade.id_promenade }} </li>
                    <li>{{ promenade.statut }}</li>
                </ul>
            {% else %}
                <p>Aucune promenade trouvée.</p>
            {% endfor %}

        {% elseif promenade is defined %}
            <h2>Une promenade :</h2>
            <ul>
                <li>{{ promenade.id_promenade }}</li>
                <li>{{ promenade.statut }}</li>
            </ul>
        {% else %}
            <p>Aucune promenade à afficher.</p>
        {% endif %}

        <a href="?controleur=Index&methode=render">Accueil</a>
    </div>
{% endblock %}